output/out4_compressed.mp4
output/burning ship 1/0.png
output/burning ship 1/1.png
output/burning ship 1/2.png
output/burning ship 1/3.png
output/burning ship 1/4.png
output/burning ship 1/5.png
output/burning ship 1/6.png
output/burning ship 1/7.png
output/burning ship 1/8.png
output/burning ship 1/9.png
output/burning ship 1/10.png
output/burning ship 1/11.png
output/burning ship 1/12.png
output/burning ship 1/13.png
output/burning ship 1/14.png
output/burning ship 1/15.png
output/burning ship 1/16.png
output/burning ship 1/17.png
output/burning ship 1/18.png
output/burning ship 1/19.png
output/burning ship 1/20.png
output/burning ship 1/21.png
output/burning ship 1/22.png
output/burning ship 1/23.png
output/burning ship 1/24.png
output/burning ship 1/25.png
output/burning ship 1/26.png
output/burning ship 1/27.png
output/burning ship 1/28.png
output/burning ship 1/29.png
output/burning ship 2/0.png
output/burning ship 2/1.png
output/burning ship 2/2.png
output/burning ship 2/3.png
output/burning ship 2/4.png
output/burning ship 2/5.png
output/burning ship 2/6.png
output/burning ship 2/7.png
output/burning ship 2/8.png
output/burning ship 2/9.png
output/burning ship 2/10.png
output/burning ship 2/11.png
output/burning ship 2/12.png
output/burning ship 2/13.png
output/burning ship 2/14.png
output/burning ship 2/15.png
output/burning ship 2/16.png
output/burning ship 2/17.png
output/burning ship 2/18.png
output/burning ship 2/19.png
output/burning ship 2/20.png
output/burning ship 2/21.png
output/burning ship 2/22.png
output/burning ship 2/23.png
output/burning ship 2/24.png
output/burning ship 2/25.png
output/burning ship 2/26.png
output/burning ship 2/27.png
output/burning ship 2/28.png
output/burning ship 2/29.png
output/mandelbrot 1/0.png
output/mandelbrot 1/1.png
output/mandelbrot 1/2.png
output/mandelbrot 1/3.png
output/mandelbrot 1/4.png
output/mandelbrot 1/5.png
output/mandelbrot 1/6.png
output/mandelbrot 1/7.png
output/mandelbrot 1/8.png
output/mandelbrot 1/9.png
output/mandelbrot 1/10.png
output/mandelbrot 1/11.png
output/mandelbrot 1/12.png
output/mandelbrot 1/13.png
output/mandelbrot 1/14.png
output/mandelbrot 1/15.png
output/mandelbrot 1/16.png
output/mandelbrot 1/17.png
output/mandelbrot 1/18.png
output/mandelbrot 1/19.png
output/mandelbrot 1/20.png
output/mandelbrot 1/out1.mp4
output/mandelbrot 2/0.png
output/mandelbrot 2/1.png
output/mandelbrot 2/2.png
output/mandelbrot 2/3.png
output/mandelbrot 2/4.png
output/mandelbrot 2/5.png
output/mandelbrot 2/6.png
output/mandelbrot 2/7.png
output/mandelbrot 2/8.png
output/mandelbrot 2/9.png
output/mandelbrot 2/10.png
output/mandelbrot 2/11.png
output/mandelbrot 2/12.png
output/mandelbrot 2/13.png
output/mandelbrot 2/14.png
output/mandelbrot 2/15.png
output/mandelbrot 2/16.png
output/mandelbrot 2/17.png
output/mandelbrot 2/18.png
output/mandelbrot 2/19.png
output/mandelbrot 2/20.png
output/mandelbrot 2/out2.mp4
output/mandelbrot 3/0.png
output/mandelbrot 3/1.png
output/mandelbrot 3/2.png
output/mandelbrot 3/3.png
output/mandelbrot 3/4.png
output/mandelbrot 3/5.png
output/mandelbrot 3/6.png
output/mandelbrot 3/7.png
output/mandelbrot 3/8.png
output/mandelbrot 3/9.png
output/mandelbrot 3/10.png
output/mandelbrot 3/11.png
output/mandelbrot 3/12.png
output/mandelbrot 3/13.png
output/mandelbrot 3/14.png
output/mandelbrot 3/15.png
output/mandelbrot 3/16.png
output/mandelbrot 3/17.png
output/mandelbrot 3/18.png
output/mandelbrot 3/19.png
output/mandelbrot 3/20.png
output/mandelbrot 3/out3.mp4
output/mandelbrot 4/8.png
output/mandelbrot 4/120.png
output/mandelbrot 4/166.png
output/mandelbrot 4/190.png
output/mandelbrot 4/210.png
output/mandelbrot 4/230.png
output/mandelbrot 4/250.png
output/mandelbrot 4/270.png
output/mandelbrot 4/290.png
output/mandelbrot 4/310.png
output/mandelbrot 4/330.png
output/mandelbrot 4/350.png
output/mandelbrot 4/370.png
output/mandelbrot 4/390.png
output/mandelbrot 4/410.png
output/mandelbrot 4/430.png
output/mandelbrot 4/450.png
output/mandelbrot 4/470.png
output/mandelbrot 4/490.png
output/mandelbrot 4/510.png
output/mandelbrot 4/530.png
output/mandelbrot 4/550.png
output/mandelbrot 4/570.png
output/mandelbrot 4/590.png
output/mandelbrot 4/610.png
output/newton 1/0.png
output/newton 1/1.png
output/newton 1/2.png
output/newton 1/3.png
output/newton 1/4.png
output/newton 1/5.png
output/newton 1/6.png
output/newton 1/7.png
output/newton 1/8.png
output/newton 1/9.png
output/newton 1/10.png
output/newton 1/11.png
output/newton 1/12.png
output/newton 1/13.png
output/newton 1/14.png
output/newton 1/15.png
output/newton 1/16.png
output/newton 1/17.png
output/newton 1/18.png
output/newton 1/19.png
output/newton 1/20.png
output/newton 1/21.png
output/newton 1/22.png
output/newton 1/23.png
output/newton 1/24.png
output/newton 1/25.png
output/newton 1/26.png
output/newton 1/27.png
output/newton 1/28.png
output/newton 1/29.png
output/newton 2/0.png
output/newton 2/1.png
output/newton 2/3.png
output/newton 2/4.png
output/newton 2/5.png
output/newton 2/6.png
output/newton 2/7.png
output/newton 2/8.png
output/newton 2/9.png
output/newton 2/10.png
output/newton 2/11.png
output/newton 2/12.png
output/newton 2/13.png
output/newton 2/14.png
output/newton 2/15.png
output/newton 2/16.png
output/newton 2/17.png
output/newton 2/18.png
output/newton 2/19.png
output/newton 2/20.png
output/newton 2/21.png
output/newton 2/22.png
output/newton 2/23.png
output/newton 2/24.png
output/newton 2/25.png
output/newton 2/26.png
output/newton 2/27.png
output/newton 2/28.png
output/newton 2/29.png
output/newton 2/fractals-2-7.png
output/newton 3/0.png
output/newton 3/1.png
output/newton 3/2.png
output/newton 3/3.png
output/newton 3/4.png
output/newton 3/5.png
output/newton 3/6.png
output/newton 3/7.png
output/newton 3/9.png
output/newton 3/10.png
output/newton 3/11.png
output/newton 3/12.png
output/newton 3/13.png
output/newton 3/14.png
output/newton 3/fractals-2-8.png
output/newton 4/0.png
output/newton 4/1.png
output/newton 4/2.png
output/newton 4/3.png
output/newton 4/4.png
output/newton 4/5.png
output/newton 4/6.png
output/newton 4/7.png
output/newton 4/8.png
output/newton 4/9.png
output/newton 4/10.png
output/newton 5/2.png
output/newton 5/4.png
output/newton 5/5.png
output/newton 5/6.png
output/newton 5/8.png
output/newton 5/9.png
output/newton 5/10.png
output/newton 5/11.png
output/newton 5/fractals-2-9.png
output/newton 5/fractals-2-10.png
output/newton 5/fractals-2-11.png
output/newton 5/fractals.png
output/newton 6/2.png
output/newton 6/3.png
output/newton 6/4.png
output/newton 6/5.png
output/newton 6/7.png
output/newton 6/8.png
output/newton 6/9.png
output/newton 6/10.png
output/newton 6/11.png
output/newton 6/12.png
output/newton 6/13.png
output/newton 6/14.png
output/newton 6/15.png
output/newton 6/16.png
output/newton 6/17.png
output/newton 6/18.png
output/newton 6/19.png
output/newton 6/fractals-2-12.png
output/newton 6/fractals-2-13.png
output/newton 6/fractals-2-14.png
output/newton 7/1.png
output/newton 7/2.png
output/newton 7/3.png
output/newton 7/4.png
output/newton 7/5.png
output/newton 7/7.png
output/newton 7/8.png
output/newton 7/9.png
output/newton 7/10.png
output/newton 7/12.png
output/newton 7/13.png
output/newton 7/14.png
output/newton 7/15.png
output/newton 7/16.png
output/newton 7/17.png
output/newton 7/18.png
output/newton 7/19.png
output/newton 7/fractals-2-15.png
output/newton 7/fractals-2-16.png
output/newton 7/fractals-2-17.png
